.bookButton {
  background-color:#5E1C25;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  margin-left: 95px;
  border-radius: 16px;
  margin-top: 10px;
}