/* welcomePage.css*/

  @font-face {
    font-family: "festive";
    src: url("../fonts/Festive-PersonalUse.otf");
  }
  .mapContainer h1 {
    font-size: 2.5rem;
    color: #5E1C25;
    text-align: center;
    letter-spacing: 2px; /* Adjust the value as needed */
    text-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff; 

  }

  .mapContainer {
    background-image: url('../images/welcome_screen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5E1C25;
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff; 

  }

  
  .exploreButton {
    font-family: "festive";
    background-color: rgba(175, 38, 28, 0.65); /* Half-opacity orange color */
    color: #ffffff;
    padding: 35px; /* Equal padding for both width and height */
    border: none;
    border-radius: 50%; /* Make it a circle */
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
  }
  