/* app.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("./images/snow_background.png");
  background-size: cover;
}

.App {
  height: 100vh;
  width: 100vw;
}

.checkboxesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  background-color: rgba(169, 169, 169, 0.7);
  max-width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 8px;
}